<section class = 'my-dash'>
    <p>in dash</p>
    {{user}}
    {{#each blogs}}
    <p>{{title}}</p>
    <p>{{post_date}}</p>
    <p>{{text_content}}</p>
    <p>{{/each}}</p>
    <button id ='new-post'>make a new post!</button>
    

</section>