.title {
    text-align: center;
}
.blog-title {
    text-align: center;
}
.buttons-dash{
    display: flex;
    justify-content: space-around;
}
.blog-post {
    background-color: beige;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 15px;
}
 a:has(.blog-title)  {
    text-decoration: none;
    color:brown;
}
.comment-btn {  
    max-width: 25%;
}
.submit-comment {
border-radius: 5px;
padding-bottom: 15px;
text-align: center;
}
.blog-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.date {
    text-align: center;
    font-size: small;
}
.comments {
    text-align: center;
    font-size: larger;
    outline: 1px dotted brown;
    margin-right: 10px;
}
.list-group{
    list-style-type: none;
    font-size: 1rem;

}
.my-dash{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.text-boxes .new-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}